.leftPane {
  height: 100vh; /* Fills the height of the grid */
  border-right: 1.5px solid rgb(221, 221, 221) !important;
}

.leftItem {
  margin-left: 40%;
  margin-right: 10%;
  text-align: right;
}
