.rightPane {
  height: 100%; /* Fills the height of the grid */
  width: 100%; /* Fills the width of the grid cell */
  border-left: 2px solid purple !important;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.rightItem {
  margin-left: 10%;
  margin-right: 40%;
  text-align: left;
}
